<!DOCTYPE html>
<html>
<head>
  <title>GstreamApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    I am a header
  </header>

  <%= yield %>

  <footer>
    I am a footer
  </footer>
</body>

</html>
