<div class="row">
  <div class="eight columns offset-by-two">
    <h1><%=@artist.artist_name%></h1>
    <ul>
      <li><%= image_tag("#{@artist.img_url}", size: "400")%></li>
      <li><%=@artist.artist_bio%></li>
    </ul>
    <%= button_to "Add a Song", new_genre_artist_song_path(@genre,@artist), method: :get %>
  </div>
</div>

<div class="row">

</div>
